*,
*::after,
*::before{
    box-sizing: border-box;
}
.fixed{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.page-header{
    margin: 50px auto;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.page-footer{
    padding: 20px;
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}

/* start header */

.header-logo{
    font-size: 80px;
    color: #4BCAFF;
}
.black-color{
    color: #000;
}
.page-header-nav{
    margin-top: 38px;
}
.page-header-menu{
    display: flex;
    justify-content: center;
    background-color: #35444F;
}
.page-header-menu-item{
    border-left: 1px solid white;
}
.page-header-menu-item:hover{
    background-color: #222F3A;
}
.page-header-menu-link{
    display: block;
    padding: 20px 40px;
    color: #fff;
}

/* start main */

.sidebar{
    font-size: 27px;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
    width: 345px;
}
.sidebar-menu-item:hover{
    background-color: #DBDBDB;
}
.sidebar-menu-item:hover
.sidebar-menu-item-link{
    transform: translateX(20px);
}
.sidebar-menu-item-link{
    display: block;
    padding: 15px 40px;
    transition: 0.5s;
    color: #495863;
}
.container{
    width: 885px;
    font-size: 18px;
    color: #2C2C2C;

}
.container-header{
    width: 885px;
    height: 530px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}
.container-header-image{
    width: 320px;
    height: 381px;
    transition: all 0.8s ease-out;
}
.container-header-image:hover{
    transform: scale(1.3);
}
.container-text{
    margin: 20px auto;
    line-height: 24px;
}
/* start footer */

.page-footer-menu{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.page-footer-menu-link{
    color: #0C1927;
    border-bottom: 1px solid transparent;
}
.page-footer-menu-link:hover{
    color: #3181A6;
    border-color:#3181A6;
}
.copyright{
    margin-left: 40px;
    color: #010101;
}
